@charset "utf-8";

/*-- リセットCSS --*/
body{
	background:#888888;
	}

body,div,h1,h2,h3,h4,h5,h6,ul,li,p,ol,dl,dt,dd{
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-size: 100%;
	color: #000033;
}

small{
	font-size: 80%;
}

strong{font-weight: bold;
margin: 1em;
line-height: 2.0;}

h1,h2,h3{
	font-weight: normal;
}

em{
	font-style: normal;
}

ul,ol,li{
	list-style: none;
}

hr{
	display: none;
}

img{
	border: 0;
}

a{
	text-decoration: none;
	color: #000033;
}

a img:hover{
	opacity:0.7;
	filter:alpha(opacity 70);
}

/*-- リセットCSS end --*/

/*-- font --*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
	font-size: 100%; /* IE */
	font-family: "Noto Sans Japanese","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}
html>/**/body {
font-size: 16px; /* Except IE */
}

body {
	-webkit-text-size-adjust: 100%;
}
/*-- font end --*/


#wrapper {width: 100%;
background: #888888;}

/*-- header --*/
.site-header{
width: 100%;
height: 100px;
position: fixed;
top:0px;
background: #333333;
}

header p{
text-align: center;
margin-right: 200px;
}

header p img{
width:680px;
margin-top: 10px;
margin-left: 200px;
}
/*-- header end --*/

/*-- sidebar --*/
#sidebar{
width: 300px;
position: fixed;
top:100px;
margin-top: 10px;
margin-left: 10px;
float:left;
overflow: hidden;
}

/* @media screen and (max-height: 600px){
#sidebar{
height: 290px;
}
} */


#menu ul{
margin: 0;
padding: 0;
list-style: none;
margin-bottom:3px;
float: left;
}

#menu li{
display: inline;
padding: 0;
margin: 0;
}

#menu li a{
display: block;
background-color: #666666;
padding: 3px 10px;
text-decoration: none;
color: #ffffcc;
width: 272px;
line-height: 1.5;
margin: 1px 0px;
text-align: left;
}

#menu li a:hover{
border-left: 8px solid #cc6600;
background-color: #555555;
}

#inquiry{
    margin-top: 40px;
    height: 50px;
    font-size: 21px;
    text-align: center;
    background-color: #666666;
    border: 5px solid #333333;
    border-radius: 5px;
}

#inquiry p{
    margin-top: 13px;
}

#inquiry a{
    font-size: 17px;
    color: #ffffcc;
}

#inquiry a:hover{
    border-bottom: 2px solid #cc6600;
    background-color: #555555;
}


h2{
text-align: center;
line-height: 1.5;
color:#ffffff;
background: #333333;
}

iframe{
margin-top: 0px;
}
/*-- sidebar end --*/

/*-- main --*/
#main{
width: 70%;
height: 100%;
margin-top: 105px;
margin-left: 340px;
padding-bottom: 70px;
float: left;
}

.site {
float: left;
margin:  5px;
width: 185px;
height: 210px;
border-radius: 3px;
background: #cccccc;
}

.site img {
margin: 11px 20px 0px 21px;
border: 2px #999999 solid;
border-radius: 2px;
background: #ffffff;
}

.site p {
font-size:75%;
margin-left: 5px;
margin-right: 5px;
color: #ffffcc;
}

th{
    width: 200px;
    background-color: #666666;
    color: #ffffcc;
    font-size: 15px;
}

.inquiry {
    white-space: pre-wrap;
    background-color: #dddddd;
    word-break: break-word;
}

td{
    width: 500px;
}

table tr td textarea{
    white-space: pre-wrap;
    background-color: #dddddd;
    resize: none;
    width:500px;
    height:10px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    height: 216px;
    background: #eaedf2;
    font-size: 18px;
    margin-top: 5px;
}

table tr td select{
    width: 200px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #eaedf2;
}

table tr td input{
    text-align: left;
    width: 300px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #eaedf2;
}

.contactText{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.confirmText{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content{
    font-size: 35px;
    background-color:#333333;
}

table{
    margin: auto;
    width: 700px;
}

tr{
    height: 60px;
}

span{
    font-size: 17px;
    color: #ba0c0c;
}

.confirm td{
    background-color: #dddddd;
}

.return{
    float: left;
    margin-left: 100px;
    width: 100px;
}

.proceed{
    float: right;
    margin-right: 100px;
    width: 100px;
}

.answer{
    font-size: 50px;
}

.formButton{
  width: 300px;
  font-size: 20px;
}

.error{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background-color:#e83232;
    color: #ffffcc;
    font-size: 20px;
    border-radius: 6px;
}

.loginForm .error{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background-color:#e83232;
    color: #ffffcc;
    font-size: 20px;
    border-radius: 6px;
    margin-left: 85px;
    margin-bottom: 15px;
}

/*-- main end --*/

/*-- to top --*/
.totop{
position: fixed;
right: 5%;
bottom: 70px;
}

.totop a{
display: block;
}
/*-- to top end --*/

/*-- footer --*/
footer{
width: 100%;
text-align: center;
position: fixed;
bottom: 0;
height: 60px;
background: #333333;
clear: both;
}

footer p,
footer a{
color: #ffffff;
padding-top: 10px;
}
/*-- footer end --*/

.dbError{
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    color:#f3ecec;
    border-radius: 6px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 15px;
    font-size: 30px;
    width: 100%;
    position: fixed;
}

#main h1{
    width: 450px;
    text-align: center;
    background-color: #666666;
    color:#ffffcc;
    border-radius: 3px;
    margin-top: 70px;
    margin-bottom: 15px;
    margin-left: 160px;
    font-size: 25px;
    position: fixed;
}
